body {
    margin: 0px;
    padding: 0px;

}

input {
    width: 20%;
    border: 2px solid #0000aa;
    border-radius: 4px;
    margin: 8px 0px;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

button {
    width: 9%;
    border: 2px solid #0000aa;
    border-radius: 4px;
    margin: 8px 0px;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

button:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}


.main {
    text-align: center;
    padding: 80px;
}

.search {
    font-size: 18px;

}

.search label {
    font-weight: bold;

}

#loading {
    display: none;
    padding: 100px;
    margin: 100px auto auto;
    width: 500px;

}